.contact {
  background: #131b1e url('../img/bgd-contact.jpg') center center no-repeat;
  background-size: cover;
  padding: 120px 0;
  &__title {
    @include header-styles;
    color: $c-white;
  }
  &__form {
    margin: 0 auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 670px;
    &__input {
      width: 330px;
      height: 50px;
      &:last-child {
        width: 100%;
      }
    }
  }
}
